.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dropdown_category {
  display: flex;
  align-items: center;
  padding: 0 32px;
  min-height: 60px;
  max-width: 300px;
  border: 2px solid $color-gray-light;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
}

.dropdown__current-value_category, .dropdown__header_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown_region {
  grid-column: span 2;
}
.header__phone-link {
  grid-column: span 2;
}
.header__list-link {
  grid-column: span 8;
}
.header__logo-link {
  grid-column: span 2;
}
.header__nav {
  grid-column: span 10;
}
.header__search {
  grid-column: span 7;
}
.dropdown_category {
  grid-column: span 3;
}
.header__account {
  grid-column: span 2;
}



